body {
  font-family: "Vazirmatn", sans-serif;
  background-color: #f8f9fa;
}

.navbar-dark {
  background-color: #212529 !important;
}

.navbar-brand img {
  height: 28px;
}

.btn-danger {
  background-color: #e63946;
  border-color: #e63946;
}

.btn-danger:hover {
  background-color: #d62839;
}

.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-header {
  background-color: #212529 !important;
  color: #fff;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(230, 57, 70, 0.25);
  border-color: #e63946;
}
.ad-card .card-img-top,
.fake-ad .card-img-top {
    object-fit: cover;
}

.fake-ad {
    opacity: 0.95;
    background: linear-gradient(180deg, #fff, #fafafa);
    border: 1px dashed rgba(0,0,0,0.05);
}

/* هنگام hover روی آگهی واقعی */
.ad-card:hover {
    transform: translateY(-4px);
    transition: transform .15s ease;
}
