body {
    font-family: "Vazirmatn", sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.3rem;
}

.card {
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

footer {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}
